* {
	box-sizing: border-box;
}

body {
margin: 0;
}

iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

.column {
	display: inline-block;
	width: 3.33333333vw;
	height: 100vh;
	transition: 1s;
}

#info {
	display: inline-block;
	width: 50vw;
	height: 100vh;
	transition: 1s;
	vertical-align: top;
	font-family: serif;
	color: rgb(36, 208, 246);
	font-size: 18px;
}
